/****************************************************************************************************Responsive View**********************************************************/

/*****Mobile****/

@media screen and (max-width: 480px) {
	.burger_nav {
		display: none;
	}
    .white_border{
        display: flex !important;
        flex-direction: column!important;
        justify-content:flex-end !impotant;
        align-content: flex-start !important;
        height:240px !important;
    }
    .burger{
        display: flex !important;
        cursor:pointer;
    }

	.burger_nav.open {
		display: flex;
	
		width: 100%;
		overflow: hidden;
		z-index: 10000;
		background-size: 21px;
	
   
	}
	nav span {
		cursor: pointer;
	}
	nav ul {
        display: block !important;
        justify-content: center !important;
		overflow: hidden;
		//height:0;
	}
	nav ul li {
		width: 100%;
		margin: 0;
	}
	li a {
		font-size: .8em !important;
		margin: 0em 1em;
	}
    
    nav a img{
        width: 100px;
        height: 100px;
    }
    
    main img{
        display: none;
    }
    
    p{
        font-size: 1em !important;
    }
    h2{
        font-size: 1.5em !important;
    }
    
     h1{
        font-size: 3.5em!important;
    }
    
    
    
.image_1 {
	
	width: 375px !important;
	height: 400px!imporant;

}

    
    footer p{
        font-size: .7em !important;
    }
    
    .text-container{

    flex-direction: column !important;

}

.text-col1{
    margin-right: 0em !important;
}

.p-style{

    text-align: left !important;
}



}

* {
	margin: 0em;
	padding: 0em;
}

/*********************** Navigation********************************************/

.burger{
    display: none;
}


.white_border {
	border: 1px solid white;
	width: 100%;
	height: 120px;
	background-color: white; 
	display: -webkit-flex;
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
}
.main_logo {
	margin: 0em 1.5em;
	order: 1;
	align-self: flex-start;
}
ul {
	display: inline-flex;
	order: 2;
	margin: 0em 1.5em;
}
.nav_alignment {
	align-self: center;
}
li {
	list-style-type: none;
}
li a {
	text-decoration: none;
	color: black;
	font-size: 1.5em;
	font-family: serif;
	font-weight: bold;
	margin: 0em 1em;
}
#hover_home:hover {
	color:#932D30;
}
#hover_events:hover {
	color: #7C6C56;
}
#hover_menu:hover {
	color:  #61727C ;
}
#hover_about:hover {
	color: #B1C0C9  ;
}
.static_link {
	color: #C77529;
}

/****************************** Main Picture Format **************************************************/

.image_1 {
	background-image: url("../../Images/Photographs/Desktop/Career/Career-1.png");
	width: 1290px;
	height: 860px;
	margin: 0em 1.5em;
	z-index: -2;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.text-box {
	order: 1;

}
h1 {
	color: white;
	font-size: 5em;
	font-family: "tornac", sans-serif;
}

h2{
    margin:0.5em 0em 1.5em 0em;
    font-family:"calluna", sans-serif;
    font-size: 3em
}

p{
    font-size: 1.5em;
    text-align: left;
    font-family: serif;
}

.text-container{
    display: flex;
    flex-direction: row;
    padding: 3.5em 
}

.text-col1{
    margin-right: 8em
}

.p-style{
    font-weight: bold;
    margin:0em 1.5em;
    text-align: center;
}
form{
    font-weight: bold;
    text-align: center;
    margin: 2em;
}

input[type=file]{

    font-weight: bold;

}

/**********************************Footer****************************************************/

.scroll-container{
    display:flex;
    flex-direction: column;
    align-items: center;

}



.footer{
    border:1px solid #C77529;
    background-color: #C77529;
    margin: 1em 1.5em;
    padding: 2em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.footer-style{
    color: white;
    font-size:1.3em;
    margin: 0em 1.5em;

}

.footer-contact{
    display: flex;
    flex-direction: row;

    
    
}

.circle:before {
    content: '\25CF';
    font-size:10px;
    color:white;
}
